body{
    background-image: url(Fond.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    margin: 60px;
    padding: 40px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap:50px;
}
.container2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 110px;
}
.child1{
    height: 100px;
    width: 100px;
}
.child2{
    height: 100px;
    width: 100px;
}
.child3{
    height: 100px;
    width: 100px;
}

/* Section de présentation */
.cadre{ 
    background-color: white;
    opacity: 70%;
    padding: 40px;
    margin: 60px;
    width: fit-content;
}